<div class="col-sm-10 offset-sm-1" id="main_container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row" id="member_section">
        <div class="container">
          <%if current_user%>
            <h2 class="text-center member_border">Member Dashboard</h2>
            <h3 class="text-center">
              <%=link_to "Create News", news_page_path, class:"white-pencil"%>
            </h3>
            <h3 class="text-center" id="logout">
              <%= link_to "LogOut", logout_path, class:"white-pencil", method: :delete%>
            </h3>
          <%else%>
          <%= render "/users/logForm" %>
          <%end%>
        </div>
      </div>
      <div class="row">
          <h1 class="section_title">News</h1>
        <div class="container" id="news_container">
          <%@new.order(updated_at: :desc).each do |news|%>
            <%if current_user%>
            <h3><%= link_to news.title, news_path(news.id)%>
              <%=link_to edit_news_path(news.id) do%>
              <i class="fa fa-pencil-square-o float-right" aria-hidden="true"></i>
              <%end%>
            </h3>
            <%else%>
            <h3><%= link_to news.title, news_path(news.id)%></h3>
            <%end%>
            <div class="details_container" id="news-<%=news.id%>">
              <%=news.details%>
            </div>
            <i class="new-down fa btn fa-chevron-down" data-id="<%=news.id%>" aria-hidden="true"></i>
          <%end%>
        </div>

      </div>
    </div>
    <div class="col-sm-8">
      <%@threew.order(created_at: :asc).each do |w|%>
      <div class="Threew">
        <%if current_user%>
        <h1 class="section_title">
          <%=w.title%>
          <%=link_to edit_wh_path(w.id), class:"white-pencil" do%>
          <i class=" fa fa-pencil-square-o float-right" aria-hidden="true"></i>
          <%end%>
        </h1>
        <%else%>
        <h1 class="section_title"><%=w.title%></h1>
        <%end%>
        <div class="w_card" id="3w-<%=w.id%>">
          <%w.details.split("\n").each do |text|%>
            <%=text%>
            </br>
          <%end%>
        </div>
        <i class="3w fa btn fa-chevron-down" data-id="3w-<%=w.id%>" aria-hidden="true"></i>
      </div>
      <%end%>
    </div>
  </div>
</div>
